<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class='form'>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2 class="form__title">Send an Online Enquiry</h2>
                <p class="form__sub-title">All fields marked with * are required.</p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
