@import '../../styles/variables';
.container-fluid{
  min-height: 100vh;
  background-color: $grey;
  padding-top: 20px;
  @include media(1300){
    padding-top: 60px;
    padding-bottom: 130px;
  }
}
.form{
  $this: '.form';
  font-weight: 300;
  color: $grey-text;
  font-family: $lato;
  font-weight: 300;
  &__title{
    margin: 0;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    line-height: 1.2em;
    font-weight: 300;
    margin-bottom: 0;
    font-family: $roboto;
  }
  &__sub-title{
    text-align: center;
    font-size: .75rem;
    margin-top: .4em;
    margin-bottom: 8vh;
  }
  &__half{
    float: left;
    width: 46%;
    &_right{
      margin-left: 8%;
      width: 46%;
      float: left;
    }
    @include media(600){
      float: none;
      width: 100%;
      &_right{
        margin-left: 0;
      }
    }
  }
  &__clear-fix{
    clear: both;
  }
  &__field{
    display: block;
    margin-bottom: 4.106776180698152vh;
    position: relative;
    opacity: 1;
    transition: all .3s;
    .icon-error{
      position: absolute;
      top: 4px;
      right: 0;
      opacity: 0;
      transition: all .3s;
      &::before{
        color: #b53030;
      }
    }
    &_hidden{
      visibility: hidden;
      opacity: 0;
    }
    &::after{
      content: '';
      transition: all .7s;
      width: 0;
      left: 0;
      top: 100%;
      height: 4px;
      display: block;
      background-image: linear-gradient(to right, #ff6a01, #c9b71e, #55a925);
    }
    &_focus{
      &::after{
        width: 100%;
      }
    }
    &_last{
      margin-top: 8vh;
    }
    &_invalid{
      .icon-error{
        opacity: 1;
      }
    }
    &_rad{
      @include media(1000){
        text-align: center;
        #{$this}__text{
          display: block;
          text-align: center;
          margin-bottom: 30px;
        }
        #{$this}__radio{
          margin: 0;
          &:nth-of-type(2){
            margin: 0 20px;
          }
        }
      }
      @include media(500){
        #{$this}__radio{
          margin: 0 auto;
          display: block;
          width: 160px;
          text-align: left;
          &:nth-of-type(2){
            margin: 20px auto;
          }
        }
      }
    }
  }
  &__input{
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    font-size: .75rem;
    font-family: $lato;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid #9a9a9a;
    line-height: 1.8em;
    height: 1.8em;
    color: #fff;
    &:focus{
      box-shadow: none;
      border-color: transparent;
      @include placeholder{
        opacity: .5;
      }
    }
  }
  &__textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    font-size: .75rem;
    font-family: $lato;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid #9a9a9a;
    line-height: 1.2em;
    height: 1.8em;
    background-color: transparent;
    resize: none;
    overflow: hidden;
    color: #fff;
    &:focus{
      // height: 4em;
      border-color: transparent;
      box-shadow: none;
      @include placeholder{
        opacity: .5;
      }
    }
    &_ful-h{
      height: 1.8em;
      &:focus{
        height: 1.8em;
      }
    }
  }
  &__text{
    font-size: .75rem;
  }
  &__radio{
    display: inline-block;
    font-size: .75rem;
    margin-left: 145px;
    cursor: pointer;
    padding-left: 30px;
    position: relative;
  }
  &__succsess{
    text-align: center;
    color: $green;
  }
  &__err{
    text-align: center;
    color: #b53030;
  }
  &__radio-icon{
    display: inline-block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #7e7e7e;
    vertical-align: top;
    &::before{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $green;
      position: absolute;
      top: 3px;
      right: 3px;
      transition: all .3s;
      transform: scale(0);
    }
  }
}
.button{
  margin-right: 0;
  @include media(600){
    margin: 0 auto;
  }
}
.write{
  &__text{
    margin: 0;
    font-size: .8rem;
    line-height: 1em;
  }
  &__link{
    color: $green;
    font-weight: bold;
  }
  @include media(600){
    text-align: center;
    width: 100%;
    margin: 20px 0 40px;
    float: none;
  }
}
.text-color{
  color: #eb860c;
  text-align: center;
  font-size: .75rem;
  font-family: $lato;
  margin-top: 0;
}
input[type='radio']{
  display: none;
  &:checked+.form__radio{
    .form__radio-icon::before{
      transform: scale(1);
    }
  }
}
