@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i');
$logo-font: 'Work Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$img-path: '../assets/img/';
$focus: #468df9;
$green: #89bd26;
$appear-time: 1.5s;
$grey: #333;
$grey-text: #ccc;
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
@mixin appearing($delay: 0){
  animation: {
    name: logo;
    duration: $appear-time;
    fill-mode: both;
    iteration-count: 1;
    delay: $delay;
  };
}
@mixin media($resolution, $scale: 'max'){
  @media only screen and ($scale+'-width: '+$resolution+'px'){
    @content
  }
}
