@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?22evf8');
  src:  url('fonts/icomoon.eot?22evf8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?22evf8') format('truetype'),
    url('fonts/icomoon.woff?22evf8') format('woff'),
    url('fonts/icomoon.svg?22evf8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before {
  content: "\e900";
  color: #fff;
}
.icon-approach:before {
  content: "\e901";
  color: #b9cf27;
}
.icon-benefits:before {
  content: "\e902";
  color: #b9cf27;
}
.icon-career:before {
  content: "\e903";
  color: #fff;
}
.icon-clients:before {
  content: "\e904";
  color: #fff;
}
.icon-contact:before {
  content: "\e905";
  color: #fff;
}
.icon-Error:before {
  content: "\e906";
  color: #fff;
}
.icon-face:before {
  content: "\e907";
  color: #fff;
}
.icon-home:before {
  content: "\e908";
  color: #fff;
}
.icon-insta:before {
  content: "\e909";
  color: #fff;
}
.icon-mission:before {
  content: "\e90a";
  color: #b9cf27;
}
.icon-services:before {
  content: "\e90b";
  color: #fff;
}
.icon-values:before {
  content: "\e90c";
  color: #b9cf27;
}
.icon-vk:before {
  content: "\e90d";
  color: #fff;
}
