<header class='container-fluid nav-container'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="main-menu" (mouseenter)='showMenu()' (mouseleave)='hideMenu(true)'>
          <ul class="main-menu__list">
            <li class="main-menu__item main-menu__item_active" (click)='toggleScreen($event)'>
              <div class="main-menu__icon icon-home">
              </div>
              <a href="javascript:void(0)" class="main-menu__link">Home</a>
            </li>
            <li class="main-menu__item" (click)='toggleScreen($event)'>
              <div class="main-menu__icon icon-services"></div>
              <a href="javascript:void(0)" class="main-menu__link">Services</a>
            </li>
            <li class="main-menu__item" (click)='toggleScreen($event)'>
              <div class="main-menu__icon icon-clients"></div>
              <a href="javascript:void(0)" class="main-menu__link">Projects</a>
            </li>
            <li class="main-menu__item" (click)='toggleScreen($event)'>
              <div class="main-menu__icon icon-about"></div>
              <a href="javascript:void(0)" class="main-menu__link">About</a>
            </li>
            <li class="main-menu__item" (click)='toggleScreen($event)'>
              <div class="main-menu__icon icon-career"></div>
              <a href="javascript:void(0)" class="main-menu__link">Careers</a>
            </li>
            <li class="main-menu__item" (click)='toggleScreen($event)'>
              <div class="main-menu__icon icon-contact"></div>
              <a href="javascript:void(0)" class="main-menu__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<app-social></app-social>
<div class="wrapper">
  <div class="home-screen screen screen_active" id='home'>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-2 logo">
            <picture class='logo__img'>
              <source srcset="/assets/img/logo.webp" type="image/webp">
                <source srcset="/assets/img/logo.png" type="image/png">
              <img src="/assets/img/logo.png" alt="Name one" >
            </picture>
            <span class="logo__text">Name One</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1 class="slogan">Flexible approach and <br>software professionals for your success. <br> That's all you need.</h1>
            <button class='button button_home' (click)='switchToContactPage()'>Get in Touch</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="screen" id='services'>
    <app-services></app-services>
  </div>
  <div class="screen" id='projects'>
    <app-projects></app-projects>
  </div>
  <div class="screen" id='about'>
    <app-about [state]='activeScreen'></app-about>
  </div>
  <div class="screen" id='career'>
    <app-career></app-career>
  </div>
  <div class="screen" id='contacts'>
    <app-contact-form></app-contact-form>
  </div>
</div>
