@import '../styles/variables';

@keyframes scaleButton{
  from{
    transform: scale(.5);
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes logo{
  from{
    opacity: 0;
    transform: translateY(-50%);
  }
  50%{
    transform: translateY(0%);
  }
  to{
    opacity: 1;
  }
}
.wrapper{
  width: 600vw;
  &::after{
    content: '';
    display: table;
    clear: both;
  }
}
.screen{
  float: left;
  width: 100vw;
  &_active{
    .logo{
      @include appearing;
    }
    .slogan{
      @include appearing($appear-time / 5);
    }
    .button{
      &_home{
        animation: {
          name: scaleButton;
          delay: $appear-time / 2.5;
          duration: $appear-time;
          fill-mode: both;
        }
      }
    }
  }
}
.home-screen{
  width: 100vw;
  height: 100vh;
  background-image: url($img-path+'home-bg-lg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
  float: none;
  display: block;
  margin: 0 auto;
  &__text{
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    font-family: $logo-font;
  }
}
.home-screen{
  padding-top: 10vh;
}
.slogan{
  color: #fff;
  margin-top: 12vh;
  font-weight: bold;
  font-size: 2.75rem;
  text-align: center;
  line-height: 1.2em;
}
.button{
  display: block;
  margin: auto;
  width: 8.125em;
  text-align: center;
  background-color: $green;
  border: none;
  font-size: 1rem;
  height: 2.0833333333333335em;
  line-height: 2.0833333333333335em;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.nav-container{
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  transition: all .3s;
  &_hidden{
    transform: translateY(60%)
  }
  .col-md-12{
    padding: 0;
  }
  .container{
    position: relative;
    &::before,
    &::after{
      content: '';
      position: absolute;
      width: 50vw;
      height: 5px;
      background-color: #fff;
      top: 35%;
    }
    &::before{
      right: 100%;
      background-color: #fe6901;
    }
    &::after{
      left: 100%;
      background-color: #56a925;
    }
  }
}
.main-menu{
  font-size: 1rem;
  position: relative;
  $this: '.main-menu';
  &::before{
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    z-index: 0;
    top: 35%;
    left: 0;
    background-image: linear-gradient(to right,#fe6901,#56a925);
  }
  &__list{
    position: relative;
    z-index: 1;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  &__item{
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    width: 16%;
    transition: all .3s;
    &:not(&_active):hover{
      #{$this}__icon{
        transform: scale(1.3)
      }
    }
    &_active{
      &:first-of-type{
        #{$this}__link{
          color: #e37407;
        }
        #{$this}__icon{
          color: #e37407;
        }
      }
      &:last-of-type{
        #{$this}__link{
          color: #64a422;
        }
        #{$this}__icon{
          color: #64a422;
        }
      }
      &:nth-of-type(2){
        #{$this}__link{
          color: #d3790a;
        }
        #{$this}__icon{
          color: #d3790a;
        }
      }
      &:nth-of-type(3){
        #{$this}__link{
          color: #b88310;
        }
        #{$this}__icon{
          color: #b88310;
        }
      }
      &:nth-of-type(4){
        #{$this}__link{
          color: #9c8f16;
        }
        #{$this}__icon{
          color: #9c8f16;
        }
      }
      &:nth-of-type(5){
        #{$this}__link{
          color: #849345;
        }
        #{$this}__icon{
          color: #849345;
        }
      }
    }
  }
  &__link{
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    padding-top: 2.7em;
    transition: all .3s;
    &:focus{
      box-shadow: none;
    }
  }
  &__icon{
    position: absolute;
    top: 0;
    transition: all .3s;
    transform-origin: top center;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #fff;
    &::before{
      color: inherit;
    }
  }
}
