<header class='container-fluid nav-container'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="main-menu" (mouseenter)='showMenu()' (mouseleave)='hideMenu(true)'>
          <ul class="main-menu__list">
            <li class="main-menu__item main-menu__item_active" (click)='toggleScreen($event)'>
              <div class="main-menu__icon icon-home">
              </div>
              <a href="javascript:void(0)" class="main-menu__link">Home</a>
            </li>
            <li class="main-menu__item" (click)='toggleScreen($event)'>
              <div class="main-menu__icon icon-services"></div>
              <a href="javascript:void(0)" class="main-menu__link">Services</a>
            </li>
            <li class="main-menu__item" (click)='toggleScreen($event)'>
              <div class="main-menu__icon icon-clients"></div>
              <a href="javascript:void(0)" class="main-menu__link">Projects</a>
            </li>
            <li class="main-menu__item" (click)='toggleScreen($event)'>
              <div class="main-menu__icon icon-about"></div>
              <a href="javascript:void(0)" class="main-menu__link">About</a>
            </li>
            <li class="main-menu__item" (click)='toggleScreen($event)'>
              <div class="main-menu__icon icon-career"></div>
              <a href="javascript:void(0)" class="main-menu__link">Career</a>
            </li>
            <li class="main-menu__item" (click)='toggleScreen($event)'>
              <div class="main-menu__icon icon-contact"></div>
              <a href="javascript:void(0)" class="main-menu__link">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="social">
  <a href="mailto: sales@nameone.io" class="social__email">sales@nameone.io</a>
  <a href="" class="social__network icon-face"></a>
  <a href="" class="social__network icon-insta"></a>
  <a href="" class="social__network icon-vk"></a>
</div>
<div class="wrapper">
  <div class="home-screen screen screen_active">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-2 logo">
            <img src="/assets/img/logo.png" alt="Name one" class='logo__img'>
            <span class="logo__text">Name One</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="slogan">Flexible approach and software professionals for your success. <strong class="slogan__large">That's all you need.</strong></h1>
            <button class='button button_home' (click)='switchToContactPage()'>Interested</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="screen">
    <app-services></app-services>
  </div>
  <div class="screen">3</div>
  <div class="screen">4</div>
  <div class="screen">5</div>
  <div class="screen">
    <app-contact-form></app-contact-form>
  </div>
</div>
