<div class="career">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class='page-title'>At NameOne we are regularly searching for talented individuals to join our team.</h2>
        </div>
        <p class='career__text'>We aim to develop a family-like environment where people can create. <br> We are certainly trying our hardest to help our colleagues to find <br>the path to realise their full potential.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid tech-block">
    <div class="row">
      <div class="col-md-6  col-lg-4 tech-block__img-container">
        <img src="/assets/img/icons-career/c-sharp.svg" alt="c#" class="tech-block__img">
        <img src="/assets/img/icons-career/asp.svg" alt="asp.net" class="tech-block__img">
        <img src="/assets/img/icons-career/angular.svg" alt="angular" class="tech-block__img">
        <img src="/assets/img/icons-career/react.svg" alt="react" class="tech-block__img">
      </div>
      <div class="col-md-6 col-lg-4">
        <p class='tech-block__text'>Our developers specialise in wide range of modern technologies, including latest versions of C#, ASP.NET, MVC, Web API, Angular, React, WPF, WCF, WinForms and others. Due to them we are continuously on the cutting edge using new and most suitable to projects technologies and support  a vast array of our partners from various industry sectors.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-12">
      <div class="career-footer career__footer">
        <p class="career-footer__text">
          If you want to be a part of our NameOne family, <br> you are never tired to learn and think you may <br>benefit  the projects we are in, discover <br> your next career move with our company.
        </p>
        <div class="career-footer-send career-footer__send">
          <img src="/assets/img/icons-career/cv.svg" alt="" class="career-footer-send__img">
          <p class='career-footer-send__text'>
            Send your CV to
            <a href="mailto:info@nameone.io" class="career-footer-send__link">info@nameone.io</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
