@import '../../styles/variables';
.page-title{
  color: #3f3f3f;
  margin-bottom: 10px;
  font-family: $roboto;
}
.career{
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
  font-family: $lato;
  &__text{
    text-align: center;
    font-size: .75rem;
  }
}
.tech-block{
  background-color: #3f3f3f;
  margin: 9vh 0;
  padding: {
    top: 8vh;
    bottom: 8vh;
  };
  &>.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    @include media(992){
      display: block;
    }
  }
  &__text{
    color: #fff;
    font-size: .75rem;
    margin: 0;
  }
  &__img{
    display: block;
    max-width: 18%;
    @include media(600){
      max-width: 35%;
      width: 35%;
      margin: 10px;
    }
  }
  &__img-container{
    display: flex;
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    @include media(992){
      margin-bottom: 20px;
      height: auto;
    }
  }
  @include media(1500){
    margin: 2vh 0;
    padding: {
      top: 4vh;
      bottom: 4vh;
    };
  }
}
.career-footer{
  // padding: 10px 230px 10px 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &__text{
    font-size: .85rem;
    margin: 0;
    font-family: $lato;
    font-style: italic;
    color: #3f3f3f;
    margin-right: 30px;
    font-weight: 600;
  }
  @include media(1500){
    // padding: 10px 265px 10px 240px;
    justify-content: center;
  }
  @include media(1200){
    padding: 0;
    display: block;
    &__text{
      margin: 0 auto 20px;
      text-align: center;
    }
    &__send{
      text-align: center;
    }
  }
  @include media(768){
    margin-bottom: 40px;
  }
}
.career-footer-send{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__text{
    display: inline-block;
    margin: 0;
    vertical-align: top;
    // color: #fff;
    color: #3f3f3f;
    font-family: $roboto;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
  }
  &__link{
    display: block;
    text-transform: none;
    font-weight: 400;
    color: #3f3f3f;
  }
  &__img{
    filter: invert(.7);
    display: inline-block;
    margin-right: 10px;
  }
}
