<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="page-title">
          Our Services
        </h2>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <p class="page-sub-title">Here at NameOne our work is something more for us that just a job: it is our life style,<br> way of thinking, and it is the art that we really like to do. <br> For our customers, this all translates to better software delivered faster.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class='text-decore'>We prefer to build relationships with the people we work with – nothing beats a face-to-face conversation. <br>That is the reason why our customers were never lost</p>
      </div>
    </div>
  </div>
</div>
