@import '../../styles/variables';
.container-fluid{
  height: 100vh;
  background-color: $grey;
  padding-top: 20px;
}
.page-sub-title{
  color: #fff;
  text-align: center;
  font-family: $lato;
  margin-top: 0;
  font-size: .75em;
}
.page-title{
  margin: 20px 0;
}
.text-decore{
  text-align: center;
  color: #eb860c;
  font:{
    size: .75em;
    family: $lato;
    weight: 300;
    style: italic;
  }
}
