/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';
*{
  box-sizing: border-box;
}
*:focus{
  outline: none;
  box-shadow: 0px 0px 3px  1px $focus;
  transition: box-shadow .3s;
}
body,
html{
  max-width: 100%;
  overflow: hidden;
  margin: 0;
}
html{
  font-size: 24px;
  @include media(1700){
    font-size: 22px;
  }
  @include media(1500){
    font-size: 20px;
  }
}
body{
  font-family: $roboto;
}
img{
  max-width: 100%;
}
.button{
  display: block;
  margin: auto;
  width: 8.125em;
  text-align: center;
  background-color: $green;
  border: none;
  font-size: 1rem;
  height: 2.0833333333333335em;
  line-height: 2.0833333333333335em;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  &_home{
    animation: {
      name: scaleButton;
      delay: $appear-time / 2.5;
      duration: $appear-time;
      fill-mode: both;
    }
  }
}
.page-title{
  color: #fff;
  text-align: center;
  font-size: 1.9166666666666667rem;
}
.slide{
  &__img{
    margin: 0 auto;
  }
  &__text{
    color: #fff;
    text-align: center;
  }
}
.slider{
  &__arrow{
    color: rgba(#fff, .25);
    font-size: 70px;
    position: absolute;
    top: calc(50% - 70px);
    z-index: 10;
    left: -30px;
    transition: all .3s;
    cursor: pointer;
    &_next{
      left: initial;
      right: -30px;
    }
    &:hover{
      color: rgba(#fff, .75);
    }
  }
}
